html, body {

	width:  100%;
	height: 100%;
}
body {

	margin:  0;
	border:  0;
	padding: 0;
	background-color: #000;
	color: #FFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:   16px;
	line-height: 20px;
	overflow: hidden;
}
textarea {

	-moz-box-sizing: border-box;
	box-sizing: border-box;  	
	position: relative;
	width:  100%;
	height: 100%;
	margin: 0;
	border: none;
	background-color: transparent;
	padding: 38vh 0 0 0;
	color: #FFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size:   12vw;
	line-height: 12vw;
	text-align: center;
	text-transform: uppercase;
	resize: none;
}
textarea:focus {

	outline: 0;
}
::-moz-selection.noselect {

	background: transparent;
	text-shadow: none;
}
::selection.noselect {

	background: transparent;
	text-shadow: none;
}